<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tekz"
        android:label="Zerbet Siparis Takip"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZerbetSiparisTakip"
        tools:targetApi="31">
        <activity
            android:name="com.tarik.zerbetsiparistakip.SiparislerUser"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.siparislerAdmin"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.Hesabim"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.Unuttunmu"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.ver"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.Giris"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.Kaydol"
            android:exported="false" />
        <activity
            android:name="com.tarik.zerbetsiparistakip.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>